NEXT_PUBLIC_SUPABASE_URL= https://zchrsfxmnujsvjbedmdc.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjaHJzZnhtbnVqc3ZqYmVkbWRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3NDUwNTEsImV4cCI6MjEwNTMyMTA1MX0.ZoTFXcRfSj7MbOJW8VNVwgTonMnvHmlh4SB3mUG52xo
