# dependencies
node_modules/
**/node_modules/

# next.js & build outputs
.next/
**/.next/
out/
**/out/
build/
**/build/

# debug & cache
*.log
*.sst
*.node
.turbo/
**/.turbo/

# environment files
.env*
!.env.example

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts